.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: rgb(53, 84, 139);
  box-sizing: border-box;
  padding: 1rem;
}

@media only screen and (max-width: 700px) {
  .container {
    padding: 0%;
  }
}
